.panel-ticket {
  &__cart {
    background-color: #ffffff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.06);
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    padding: 24px;
  }
  &__title {
    font-size: 1.63rem;
    font-weight: 700;
    margin-bottom: 24px;
  }
}
